html,
body {
    overflow: hidden;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#camera--output {
    display: none;
}

#annotate {
    background-color: #e2e2e2;
    padding: 8px;
    margin-top: -27px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 2px #d1d1d1;
    float: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

#home{
    background-color: #e2e2e2;
    padding: 8px;
    margin-top: -8px;    
    border-radius: 5px;
    box-shadow: 0px 2px 2px 2px #d1d1d1;
    float: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

#saveforlater_btn {
    margin-left: 20px;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

#saveforlater {
    background-color: #e2e2e2;
    padding: 8px;
    margin-top: -7px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 2px #d1d1d1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

#startbtn {
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin-top: 89%;
    margin-left: 22%;
    width: 45%;
    padding: 5%;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-family: Montserrat;
    box-shadow: 0px 0px 6px 5px #3a3a3a;
}

#splash {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000c7;
    z-index: 10000;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.question {
    padding: 4%;
    padding-bottom: 0%;
    margin-top: 0%;
}

#title {
    float: right;
    margin-right: 23%;
    width: 0%;
}

#loadimages {
    background-color: #e2e2e2;
    padding: 8px;
    margin-top: -7px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 2px #d1d1d1;
    float: right;
    margin-right: 6%;
}

#annotate {
    float: right;
}

#fullscreen {
    float: right;
}

#annotate-btn {
    float: right;
    padding: 3%;
    clear: both;
    margin-top: -26px;
    background-color: #e2e2e2;
    border-radius: 6px;
}

#glabel {
    padding: 5%;
    border-bottom: 2px solid #e5e4e4;
    font-weight: 800;
}

.label_box {
    position: fixed;
    bottom: 0;
    /* padding: 3%; */
    width: 100%;
    box-shadow: 0px 2px 15px 5px #838383;
    font-family: 'Montserrat';
    /* padding-left: 4%; */
    height: 8%;
    opacity: 1;
    background-color: white;
    transition: 0.4s;
    z-index: 1000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#save_btn {
    outline: #3bd100;
    border-color: #31ab00;
    width: 73%;
    margin-left: 5%;
    padding: 4%;
    margin-top: 3%;
    background-color: #03dd00;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    font-size: 0.9em;
    font-family: 'Montserrat';
    outline: none;
}

#getpredbtn{
    outline: #d1e500;
    border-color: #d1e500;
    width: 91%;
    margin-left: 5%;
    padding: 2%;
    margin-top: 3%;
    background-color: #d1e500;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    font-size: 0.9em;
    font-family: 'Montserrat';
}

.item_tablets{
    padding: 3%;
    overflow-x: scroll;
    background-color: aliceblue;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
}

.pred_item_tablets{
    padding: 3%;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
}


.tablet{
    width: fit-content;
    padding: 2%;
    background-color: gold;
    border-radius: 45px;
    display: inline-block;
    margin-right: 2%;
    font-size: 0.7em;

}

.pred_tablet{
    width: fit-content;
    padding: 2%;
    background-color: gainsboro;
    border-radius: 45px;
    display: inline-block;
    font-size: 0.7em;
    margin-right: 2%;
}

.tabtext{
    display: inline-block;
}

#add_item_btn {
    outline: #3bd100;
    border-color: #0098d9;
    width: 89%;
    margin-left: 5%;
    padding: 4%;
    margin-top: 3%;
    background-color: #04a8d9;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    font-size: 0.9em;
    color: white;
    font-family: 'Montserrat';
    outline: none;
}

#del_btn {
    width: 6%;
    margin-left: 2%;
    padding: 4%;
    margin-top: 3%;
    background-color: #ff0000;
    text-align: center;
    border-radius: 6px;
    color: white;
    display: inline-block;
    font-size: 1.3em;
}

#camera--header {
    font-family: 'Montserrat', sans-serif;
    display: block;
    height: 0%;
    padding: 7%;
    padding-bottom: 13%;
    display: inline-block;
    font-weight: 800;
    width: 89vw;
    background-color: white;
    box-shadow: 0px 2px 25px #d8d6d6;
}

#arrowoicon {
    transition: 0.7s;
}

.select2-container {
    padding: 5% !important;
    width: 100% !important;
    padding-bottom: 0 !important;
    padding-top: 2% !important;
}

#icon_exp {
    float: right;
    border-radius: 45px;
    padding: 8px;
    padding-right: 10px;
    clear: both;
    margin-top: -2%;
    background-color: #f5f5f5;
}

/* #camera--header{
    font-family: 'Montserrat', sans-serif;
    display: block;
    height: 0%;
    padding: 7%;
    padding-bottom: 13%;
    font-weight: 800;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 25px #d8d6d6;
} */

#camera,
#camera--view,
#camera--sensor,
#camera--output {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--view,
#camera--sensor,
#camera--output {
    transform: scaleX(1);
}

#shutter_holder {
    position: fixed;
    bottom: 5%;
    width: 100%;
}

#shutter_holder img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#camera--trigger {
    width: 18%;
    background-color: white;
    box-shadow: 0px 2px 25px #c1c1c1;
    border-radius: 100px;
}

.taken {
    height: 100px !important;
    width: 100px !important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    top: 15%;
    right: 20px;
    z-index: 2;
}

#img_thumbnails {
    width: 100%;
    height: 55px;
    margin: 3%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    white-space: nowrap;
    padding-bottom: 5%;
    margin-bottom: 0;
}

.imgthumb {
    width: 50;
    border-radius: 8px;
    height: 50;
    box-shadow: 0px 2px 2px 2px #e2e2e2;
    display: inline-block;
    margin-right: 5px;
    transition: 0.2s;
}

.select2-selection {
    border: none;
    border: 1px solid #b5b5b5 !important;
    border-radius: 7px;
    min-height: 47px !important;
    height: 47px;
    font-size: 1.4em;
    padding: 1%;
    padding-left: 1%;
    overflow: scroll;
    padding-bottom: 3% !important;
}

.select2-dropdown {
    font-family: 'Montserrat';
    border: 2px solid #e2e2e2;
    width: 100%;
}

.select2-selection__choice {
    background-color: white !important;
    border: None;
    padding-bottom: 4px !important;
    padding-top: 2px !important;
    padding-right: 3px !important;
    margin-top: 0px !important;
}

.select2-selection__choice__remove {
    border: None !important;
}

.select2-search__field {
    height: 100% !important;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-left: 6%;
    margin-top: 4%;
    width: 88%;    
    background-color: white;
    border: none;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
  }
  
  #price {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-left: 6%;
    margin-top: 4%;
    width: 88%;    
    background-color: white;
    border: none;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    display: inline-block;
    width: 37%;
    float: left;
  }

  #quantity_div{
    display: inline-block;
    float: right;
    margin-top: 3%;
    width: 39%;
    margin-right: 4%;
  }

  #per_word{
    width: 10%;
    display: inline-block;
    margin-top: 7%;
    margin-left: 4%;
  }

  #quantity {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-left: 6%;
    margin-top: 4%;
    width: 88%;    
    background-color: white;
    border: none;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    display: inline-block;
    float: right;
    margin-top: 2%;
    margin-right: 4%;
  }

  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 1000000;
        top: 63%;
        left: 0;
        right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }